/*
 * Variables
  - setting @ root allows access throughout
 */

 

 /* look up calc*/


:root {
  --card-padding: 24px;
  --card-height: 340px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  
  /* 
    circles
  */
  --circle-size: 32px;
  --circle-position: var(--card-padding) var(--card-padding);
  --circle-skeleton: radial-gradient(circle 16px at center, white 89%, transparent 0);
  /* Disabled prop, make one for each, note the 0s   */
  --circle-skeleton-disabled: radial-gradient(circle 0 at center, white 0%, transparent 0);

  --circle-2-size: 64px;
  --circle-2-position: var(--card-padding) var(--card-padding);
  --circle-2-skeleton: radial-gradient(circle 32px at center, white 89%, transparent 0);
  
  
  /*  thick hz hz bar  */
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --title-skeleton-disabled: linear-gradient(white 0, transparent 0);
  
  
  /*??!! Card height SHARING */
  --vertical-line-height: 100%;
  --vertical-line-width: 15%;   /*horizontal width of vertical bar */
  --vertical-line-1-position: var(--card-padding) 10px;   /* like transform: translate (x , y)*/
  --vertical-line-2-position: calc(var(--card-padding) + calc(1.5 * 15%)) 85px; /* like transf: transl (x , y)*/
  --vertical-line-3-position: calc(var(--card-padding) + calc(3 * 15%)) 185px;
  --vertical-line-4-position: calc(var(--card-padding) + calc(4.5 * 15%)) 285px;
  --vertical-line-skeleton: linear-gradient(white var(--vertical-line-height), transparent 0);
  
  
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-position-disabled: 0 calc(var(0) - var(0));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  --footer-skeleton-disabled: linear-gradient(white 0, transparent 0);
  
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
  
  
  /*
    Horizontal bars
  */
  --hz-line-height: 16px;
  --hz-line-height-my: 30px;

  --hz-line-skeleton: linear-gradient(white var(--hz-line-height), transparent 0);
  --hz-line-skeleton-disabled: linear-gradient(white 0, transparent 0);
  --hz-line-skeleton-my: linear-gradient(white var(--hz-line-height-my), transparent 0);
  
  --hz-line-1-width: 45%;
  --hz-line-1-position: var(--card-padding) 242px;
  
  --hz-line-2-width: 65%;
  --hz-line-2-position: var(--card-padding) 265px;

  --hz-line-3-width: 65%;
  --hz-line-3-position: calc(var(--card-padding)) calc(var(--hz-line-height) * 2);

  --hz-line-4-width: 85%;
  --hz-line-4-position: calc(var(--card-padding)) calc(var(--hz-line-height-my) * 3);

  --hz-line-5-width: 35%;
  --hz-line-5-position: calc(var(--card-padding)) calc(var(--hz-line-height-my) * 5);

  --hz-line-6-width: 70%;
  --hz-line-6-position: calc(var(--card-padding)) calc(var(--hz-line-height-my) * 7);
}


/*
 * Card Skeleton for Loading
 */
.skelly, .vertical-bar {
  width: 25%;
  height: var(--card-height);
  display: inline-block;
}


/* 
  KeyFrames
*/
@keyframes loading {
  to {
    background-position: 
      350% 0, 
      var(--title-position), 
      var(--hz-line-1-position), 
      var(--hz-line-2-position), 
      var(--circle-position), 
      var(--footer-position), 
      0 0;
  }
}

@keyframes loading-vertical-bar {
  to {
    background-position: 
      350% 0, 
      var(--title-position), 
      var(--vertical-line-1-position), 
      var(--vertical-line-2-position),
      var(--vertical-line-3-position),
      var(--vertical-line-4-position),
      var(--circle-position), 
      var(--footer-position), 
/*       var(--footer-position-disabled),        */
      0 0;
  }
}

@keyframes loading-horizontal-bar {
  to {
    background-position: 
      350% 0, 
      var(--title-position), 
      var(--hz-line-3-position), 
      var(--hz-line-4-position),
      var(--hz-line-5-position),
      var(--hz-line-6-position),
      var(--circle-position), 
      var(--footer-position), 
/*       var(--footer-position-disabled),        */
      0 0;
  }
}

@keyframes loading-circle-skelly {
  to {
    background-position: 
      350% 0, 
      var(--title-position), 
      var(--hz-line-1-position), 
      var(--hz-line-2-position), 
      var(--circle-position), 
      var(--footer-position), 
      0 0;
/*       var(--footer-position-disabled),        */
      0 0;
  }
}


/* 
  Empty - After Styling
*/
.skelly:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
  background-image: 
    linear-gradient(90deg, 
      rgba(211, 211, 211, 0) 0, 
      rgba(211, 211, 211, .8) 50%, 
      rgba(211, 211, 211, 0) 100%),
      var(--title-skeleton), 
      var(--hz-line-skeleton), 
      var(--hz-line-skeleton), 
      var(--circle-skeleton), 
      var(--footer-skeleton), 
      var(--card-skeleton);
  background-size: 
     var(--blur-size), 
     var(--title-width) var(--title-height), 
     var(--hz-line-1-width) var(--hz-line-height), 
     var(--hz-line-2-width) var(--hz-line-height), 
     var(--circle-size) var(--circle-size), 
     100% var(--footer-height), 
     100% 100%;
  background-position: 
     -150% 0, 
     var(--title-position), 
     var(--hz-line-1-position), 
     var(--hz-line-2-position), 
     var(--circle-position),
     var(--footer-position), 
     0 0;
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}

/*
New 'Card'
*/
/* If empty, append THIS @ end 
   CSS-friendly 'conditional' rendering of skeleton
*/
.vertical-bar:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
  background-image: 
    linear-gradient(90deg, 
    rgba(211, 211, 211, 0) 0,
    rgba(211, 211, 211, .8) 50%, 
    rgba(211, 211, 211, 0) 100%), 
    var(--title-skeleton-disabled), 
    var(--vertical-line-skeleton), 
    var(--vertical-line-skeleton), 
    var(--vertical-line-skeleton),        
    var(--vertical-line-skeleton),   
    var(--circle-skeleton-disabled),
    var(--footer-skeleton-disabled), 
    var(--card-skeleton);
  background-size: 
    var(--blur-size), 
    var(--title-width) var(--title-height), 
    var(--vertical-line-width) var(--vertical-line-height), 
    var(--vertical-line-width) var(--vertical-line-height), 
    var(--vertical-line-width) var(--vertical-line-height), 
    var(--vertical-line-width) var(--vertical-line-height), 
    var(--circle-size) var(--circle-size),
    100%, 
    100% 100%;
  background-position: 
    -150% 0, 
    var(--title-position), 
    var(--vertical-line-1-position), 
    var(--vertical-line-2-position), 
    var(--vertical-line-3-position), 
    var(--vertical-line-4-position), 
    var(--circle-position), 
    var(--footer-position), 
    0 0;
  background-repeat: no-repeat;
  animation: loading-vertical-bar 1.5s infinite;
}


/*
New 'Card'
*/
/* If empty, append THIS @ end 
   CSS-friendly 'conditional' rendering of skeleton
*/
.horizontal-bar:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
  background-image: 
    linear-gradient(90deg, 
    rgba(211, 211, 211, 0) 0,
    rgba(211, 211, 211, .8) 50%, 
    rgba(211, 211, 211, 0) 100%), 
    var(--title-skeleton-disabled), 
    var(--hz-line-skeleton-my),
    var(--hz-line-skeleton-my),
    var(--hz-line-skeleton-my),
    var(--hz-line-skeleton-my),
    var(--circle-skeleton-disabled),
    var(--footer-skeleton-disabled), 
    var(--card-skeleton);
  background-size: 
    var(--blur-size), 
    var(--title-width) var(--title-height), 
    var(--hz-line-3-width) var(--hz-line-height-my), 
    var(--hz-line-4-width) var(--hz-line-height-my), 
    var(--hz-line-5-width) var(--hz-line-height-my), 
    var(--hz-line-6-width) var(--hz-line-height-my), 
    var(--circle-size) var(--circle-size),
    100%, 
    100% 100%;
  background-position: 
    -150% 0, 
    var(--title-position), 
    var(--hz-line-3-position), 
    var(--hz-line-4-position), 
    var(--hz-line-5-position),
    var(--hz-line-6-position),
    var(--circle-position), 
    var(--footer-position), 
    0 0;
  background-repeat: no-repeat;
  animation: loading-horizontal-bar 1.5s infinite;
}

.circles-skelly:empty::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
  background-image: 
    linear-gradient(90deg, 
      rgba(211, 211, 211, 0) 0, 
      rgba(211, 211, 211, .8) 50%, 
      rgba(211, 211, 211, 0) 100%),
      var(--title-skeleton-disabled), 
      var(--hz-line-skeleton-disabled), 
      var(--hz-line-skeleton-disabled), 
      var(--circle-skeleton), 
      var(--footer-skeleton-disabled), 
      var(--card-skeleton);
  background-size: 
     var(--blur-size), 
     var(--title-width) var(--title-height), 
     var(--hz-line-1-width) var(--hz-line-height), 
     var(--hz-line-2-width) var(--hz-line-height), 
     var(--circle-size) var(--circle-size), 
     100% var(--footer-height), 
     100% 100%;
  background-position: 
     -150% 0, 
     var(--title-position), 
     var(--hz-line-1-position), 
     var(--hz-line-2-position), 
     var(--circle-position),
     var(--footer-position), 
     0 0;
  background-repeat: no-repeat;
  animation: loading-circle-skelly 1.5s infinite;
}




