*{
	box-sizing: border-box;
	font-family: sans-serif;
}

#chart-area {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.xTickLabel{
	font-size: 1.5em;
}

.svgWrapper{
	border: 2px solid blue;
}

.townButton{
	position: absolute;
	display: inline-block;
	bottom: 0;
}