text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.node--hover circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.partition{
	cursor: pointer;
	opacity: .7;
	stroke: #fff;
}

.partition:hover{
	opacity: 1;
}