*{
  box-sizing: border-box;
}
div{
  border:1px solid black;
  border-radius: 10px;
}
#parentWrapper{
  /*text-align: center;*/
  overflow: hidden;
  position: relative;
}
#stateContainer, #legendContainer{
  display: inline-block;
}
#stateContainer {
  width: 80%;
  min-height:225px;
}
#legendContainer {
  width: 20%;
  min-height:245px;
  position: absolute; 
  bottom:0;
}
.tick text, .legendCells text{
  font-size: 16px;
}
.stateTitle{
  font-size: 2.2em;
  font-weight: 800;
  text-align: center;
  margin: 50px auto 0 auto;
}

small{
  font-size: 1em;
  text-align: center;
  display: block;
}

i{
  font-style: italic;
}