*{
  box-sizing: border-box;
}
div{
  border:1px solid black;
  border-radius: 10px;
}
#parentWrapper{
  /*text-align: center;*/
  overflow: hidden;
  position: relative;
}
#stateContainer, #legendContainer{
  display: inline-block;
}
#stateContainer {
  width: 80%;
  min-height:225px;
}
#legendContainer {
  width: 20%;
  min-height:255px ;
  position: absolute; 
  bottom:0;
}
.tick text, .legendCells text{
  font-size: 12px;
}