*{
	font-size: 12px;
	text-align: center;
}

#rect1 { fill: url(#Gradient3); }
.stop1 { stop-color: red; }
.stop2 { stop-color: black; stop-opacity: 0; }
.stop3 { stop-color: blue; }

.box{
	width: 125px;
	height: 50px;
	display: inline-block;
	top: 10px;
	position: absolute
}

.second{
	top: 125px;
}

.third{
	top: 250px;
}

.fourth{
	top: 375px;
}

.fifth{
	top: 500px;
}

.sixth{
	top: 625px;
}

.v1{
	border: 3px solid black
}

.v2{
	max-width: 250px;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
}


/*
		BORDER IMAGE
		border-image: source slice width outset repeat|initial|inherit;
			SOURCE: The path to the image to be used as a border;
			SLICE:  how to slice the border image;
			WIDTH:  the width of the border image;
			OUTSET: The amount by which the border image area extends beyond the border box;
			border-image-repeat: repeat/initial/inherit: Whether the border image should be repeated, rounded or stretched;
*/
.a1{
	border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.a2{
	border-image: linear-gradient(red, blue) 27 / 35px;
}

.a3{
	border-image:
    linear-gradient(
      to right, 
      #fffdc2,
      #fffdc2 15%,
      #d7f0a2 15%,
      #d7f0a2 85%,
      #fffdc2 85%
    ) 27 / 5px;
}
/*
	red 0-30
	orange 45-60
	green 60-70
	blue 7-100
*/
.a4{
	border-image:
		linear-gradient(
			to right, 
      red 30%,
      transparent 30% 70%,
      blue 70%
    ) 20 / 5px;
}

/*
	border-image-SLICE - 
		how-much of the gradient to use...?!

*/
.line-bottom{
	border-image:
		linear-gradient(
		 to right,
		 transparent 10%, 
		 black 10% 90%, 
		 transparent 90% 100%
		) 0 0 1 0 / 3px
}

.line-top{
	border-image:
		linear-gradient(
		 to right,
		 transparent 10%, 
		 black 10% 90%, 
		 transparent 90% 100%
		) 1 0 0 0 / 3px
}

.line-right{
	border-image:
		linear-gradient(
		 to bottom,
		 transparent 10%, 
		 black 10% 90%, 
		 transparent 90% 100%
		) 0 1 0 0 / 3px
}

.line-left{
	border-image:
		linear-gradient(
		 to bottom,
		 transparent 10%, 
		 black 10% 90%, 
		 transparent 90% 100%
		) 0 0 0 1 / 3px
}

/* 0 0 1 0 is the 'slice', same shorthand as margin / padding */
/* / sepoarates linear-gradient from other props */
/*3px border-width */
/*
	 1 0 stretch
15 / 3px;*/

/*
	to bottom, 
      black 40%,
      transparent 40% 60%, 
      orange 60%
    ) 1 / 3px;
*/